.App {
  display: flex;
  margin: 0 auto;
  border: 1px solid lightgray;
  border-radius: 2rem;
  max-width: 70%;
  height: 95vh;
  margin-top: 2.5vh;
}
body {
  --primary: #28b78d;
  --secondary: #243743;
}
